@import "vars";
@import "global";

//start header
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-menu {
    position: relative;
}
.header__menu {
    max-width: 340px;
    height: 793px;
    background-color: $darkblue;
    padding: 50px;
    padding-left: 30px;
    position: absolute;
    top: -1000px;
    right: 0%;
    z-index: 3;
    transition: all .7s;
    &-logo {
        margin-bottom: 55px;
    }
    &-list a {
        color: #fff;
        font-size: 20px;
        width: 100%;
        transition: all 0.5s;
        &:hover {
            color: $text;
            transform: scale(1.2);
            margin-left: 25px;
        }
    }
    &-list li {
        margin-bottom: 20px;

    }
    &-social li {
        display: inline-block;
        & + li {
            margin-left: 17px;
        }
    }
}
.header__close-btn {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url(../images/icons/x_icon.png);
    top: 0px;
    right: 0px;
}
.header__menu.active {
    top: 0;
}

//end header

// start main
.main {
    min-height: 700px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__box {
        max-width: 750px;
        padding: 40px 15px 60px;
        margin: 0 auto;
        text-align: center;
        &-images img {
            width: 170px;
            height: 41px;
            margin-bottom: 35px;
            text-align: center;
        }
        &-text {
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 23px;
        }
        &-btn a {
            border: 1px solid #fff;
            color: #fff;
            padding: 18px 30px;
            transition: all .5s;
            &:hover {
                color: $darkblue;
                background-color: #fff;
            }
        }
    }
}
//end main

//start services
.services {
    padding-top: 55px;
    padding-bottom: 75px;
    text-align: center;
    &__text {
        margin-top: 20px;
        color: $text;
        max-width: 730px;
        margin: 20px auto 50px;
    }
}
.services__items {
    display: flex;
    justify-content: space-between;
    &-item {
        max-width: 250px;
    }
    &-images {
        background-color: $blue;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 22px;
        & img {
            margin-top: 33px;
        }
    }
    &-title {
        display: block;
        color: $blue;
        margin-bottom: 20px;
    }
    &-text {
        color: $text
    }
}
//end services

//start quotation
.quotation {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        background-color: rgba(34, 44, 64, 0.6); 
        padding-top: 65px;
        padding-bottom: 55px;
    }
    &__box {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        &-text {
            font-weight: 300;
            font-size: 25px;
            margin-bottom: 35px;
        }
    }
}
// end quotation

// start portfolio
.portfolio {
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
    &__text {
        max-width: 760px;
        margin: 0 auto;
        color: $text;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    &__gallery {
        margin-bottom: 30px;
        &-wrapper {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-basis: calc(25% - 20px);
            margin-left: -20px;
        }
        &-item {
            margin-bottom: 20px;
            margin-left: 20px;
        }
        &-btn {
            margin-bottom: 60px;
            button {
                background-color: $blue;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                padding: 10px 20px;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all .7s;
                &.mixitup-control-active {
                    background-color: #00c7fc;
                }
                & + button {
                    margin-left: 20px;
                }
            }
         
        }
        &-img {
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            width: 275px;
            height: 200px;
        }
    }
    &__btn-arrow {
        background-color: $blue;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-bottom: 60px;
        & img {
            margin-top: 17px;
        }
    }
    &__btn {
        background-color: $blue;
        color: #fff;
        padding: 20px 35px;
        border: 1px solid transparent;
        transition: all .5s;
        &:hover {
            background-color: #ffffff;
            color: $darkblue;
            border-color: $darkblue;
        }
    }
}
.portfolio__gallery-item {
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
        animation-delay: .3s;
    }
    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(10) {
        animation-delay: .5s;
    }
    &:nth-child(3),
    &:nth-child(7),
    &:nth-child(11) {
        animation-delay: .7s;
    }
    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12) {
        animation-delay: .9s;
    }
}

// end portfolio

//start about
.about {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    &__wrapper {
        padding-top: 65px;
        background-color: rgba(34, 44, 64, 0.8); 
    }  
    &__title.title {
        color: #fff;
    }
    &__subtitle.subtitle {
        color: #fff;
    }
    &__text {
        padding-top: 20px;
        padding-bottom: 80px;
        max-width: 770px;
        margin: 0 auto;
    }
}
.about__items {
    display: flex;
    justify-content: space-between;
    &-images {
        position: relative;
    }
    &-images:hover img {
        border: 4px solid #fff;
    }
    &-images:hover .about__items-img {
        height: 212px;
    }
    &-images:hover .about__items-img img{
        height: 58px;
    }
    &-images:hover .about__items-info {
        display: block;
    }
    &-images img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 4px solid transparent;
    }
    &-img {
        background-color: rgba(34, 44, 64, 0.7); 
        width: 212px;
        height: 0px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: all .6s;
        & a {
            font-size: 0;
        }

        & img {
            width: 58px;
            height: 0px;
            margin-top: 81px;
        }
    }
    &-name {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
    }
    &-position {
        font-weight: 300;
        margin-bottom: 55px;
    }
    &-info {
        position: relative;
        background-color: $darkblue;
        padding: 30px 10px;
        text-align: left;
        display: none;
        width: 100%;
        &--title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 30px;
        }
        &--text {
            font-weight: 300;
            margin-bottom: 25px;
        }
        &--experience {
            position: relative;
            padding-left: 25px;
            margin-bottom: 10px;
            &::before {
                content:"";
                position: absolute;
                width: 14px;
                height: 13px;
                background-image: url(../images/icons/clock_icon.png);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--place {
            position: relative;
            padding-left: 25px;
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-image: url(../images/icons/people_icon.png);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.tab_content-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid $darkblue;
    position: absolute;
    top: -30px;
    left: 90px;
}
.tab_content-triangle.john {
    left: 415px;
}
.tab_content-triangle.julie {
    left: 725px;
}
.tab_content-triangle.matt {
    left: 1055px;
}
.close_btn {
    width: 13px;
    height: 13px;
    background-image: url(../images/icons/x_icon.png);
    position: absolute;
    top: 30px;
    right: 30px;
}

//end about

//start skills
.skills {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
    &__text {
        max-width: 770px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 60px;
        color: $text;
    }
}
.skills__inner {
    display: flex;
    text-align: left;
    &-company {
        max-width: 575px;
        margin-right: 25px;
    }
    &-title {
        font-size: 25px;
        color: $blue;
        margin-bottom: 25px;
    }
    &-text {
        color: $text;
        margin-bottom: 22px;
    }
    &-btn {
        background-color: $blue;
        color: #fff;
        padding: 18px 45px;
        border: 1px solid transparent;
        transition: all .5s;
        &:hover {
            background-color: #ffffff;
            color: $darkblue;
            border-color: $darkblue;
        }
    }
    &-level {
        width: 520px;
    }
    &-html,
    &-js,
    &-design,
    &-photo {
        display: block;
        background-color: $blue;
        padding: 10px 15px 15px;
        width: 100%;
        margin-top: 10px;
    }
}
// end skills

//start achievements
.achievements {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        background-color: rgba(34, 44, 64, 0.8); 
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.achievements__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-number {
        font-size: 40px;
    }
}
.customers,
.awards,
.projects, 
.followers{
    position: relative;
    padding-left: 85px;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        width: 77px;
        height: 75px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/icons/human_icon.png);
    }
}
.awards {
    &::before {
        width: 77px;
        height: 68px;
        background-image: url(../images/icons/heart_icon.png);
    }
}
.projects {
    &::before {
        width: 58px;
        height: 71px;
        background-image: url(../images/icons/clock.png);
    }
}
.followers {
    &::before {
        width: 70px;
        height: 56px;
        background-image: url(../images/icons/dove.png);
    }
}
//end achievements


//start news
.news {
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
    &__text {
        color: $text;
        max-width: 760px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    &__btn-arrow {
        background-color: $blue;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 55px;
        & img {
            margin-top: 17px;
        }
    }
    &__form {
        input {
            max-width: 575px;
            width: 100%;
            padding: 20px;
            color: #fff;
            background-color: $blue;
            font-size: 20px;
            margin-right: 30px;
            border: none;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            color: #fff;
            font-size: 20px;
            border: none;
            background-color: $blue;
            padding: 20px 40px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all .5s;
            &:hover {
                background-color: #ffffff;
                color: $darkblue;
                border-color: $darkblue;
            }
        }
    }
}
.news__gallery {
    margin-bottom: 25px;
    &-btn {
        margin-bottom: 60px;
        button {
            background-color: $blue;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px 20px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all .7s;
            &.mixitup-control-active {
                background-color: #00c7fc;
            }
            & + button {
                margin-left: 20px;
            }
        }
    }
    &-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &-item {
        max-width: 570px;
        width: 100%;
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
    }
    &-info {
        background-color: $darkblue;
        width: 285px;
        padding: 25px;
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
    }
    &-title {
        font-size: 25px;
        margin-bottom: 21px;
        color: #fff;
    }
    &-text {
        color: $text;
        margin-top: 16px;
        line-height: 20px;
    }
    &-triangle {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 30px solid $darkblue;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: 55px;
        right: 285px;
    }
}
.news__gallery-content--bottom {
    display: flex;
    justify-content: space-between;
}
.news__gallery-aside {
    max-width: 370px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.news__aside-info {
    padding: 25px;
    background-color: $darkblue;
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
}
.news__aside-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid $darkblue;
    position: absolute;
    bottom: 372px;
    left: 55px;
}
.news__inner {
    max-width: 770px;
    width: 100%;
    &-item {
        margin-right: 30px;
        &--wrapper {
            background-color: rgba(34, 44, 64, 0.8); 
        }
    }
    &-info {
        text-align: left;
        padding: 25px;
    }
    &-box {
        display: flex;
        margin-top: 30px;
        margin-right: 30px;
        justify-content: space-between;
    }
}
.news__box-item {
    max-width: 380px;
    width: 100%;
}


//end news

//start customers
.customers__section {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    &-title {
        color: #fff;
        margin-bottom: 15px;
    }
}
.customers__wrapper {
    background-color: rgba(34, 44, 64, 0.8); 
    padding-top: 60px;
    padding-bottom: 70px;
}
.customers__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
//end customers

// start testimonials
.testimonials {
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
    &__text {
        color: $text;
        padding-top: 25px;
        padding-bottom: 25px;
        max-width: 760px;
        margin: 0 auto;
        font-style: italic;
    }
    &__author {
        color: $blue;
        font-size: 20px;
        margin-top: 30px;
    }
}
//end testimonials

//start contacts
.contacts {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contacts__wrapper {
    background-color: rgba(34, 44, 64, 0.8); 
    padding-top: 60px;
    padding-bottom: 40px;
}
.contacts__title {
    color: #fff;
}
.contacts__sutitle {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}
.contacts__text {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
    &-item {
        max-width: 220px;
        width: 100%;
        text-align: center;
    }
    &-images img {
        width: 72px;
        height: 72px;
    }
    &-subject {
        margin-top: 20px;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &-info {
        color: #fff;
        font-size: 20px;
        margin-bottom: 50px;
        display: block;
    }
}
.contacts__form {
    form {
        width: 100%;
    }
    input {
        max-width: 368px;
        border: 1px solid #fff;
        padding: 25px;
        font-style: italic; 
        width: 100%;
        background-color: transparent;
        color: #fff;
        margin-bottom: 25px;
        &::placeholder {
            color: #fff;
        }
        & + input {
            margin-left: 30px;
        }
    }
    textarea {
        width: 100%;
        border: 1px solid #fff;
        padding: 25px;
        font-style: italic; 
        height: 215px;
        resize: none;
        background-color: transparent;
        color: #fff;
        margin-bottom: 30px;
        &::placeholder {
            color: #fff;
        }
    }
    button {
        font-size: 20px;
        color: $blue;
        text-align: center;
        background-color: #fff;
        padding: 20px 55px;
        border: none;
        transition: all .5s;
        &:hover {
            background-color: $darkblue;
            color: #fff;
        }
    }
}
//end contacts

//start footer
.footer {
    background-color: $darkblue;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    &__copy {
        font-size: 11px;
        font-weight: 300;
        margin-top: 15px;
    }
}
//end footer